@media (max-width: 600px) {
    .mainContent{
        flex-direction: column;
        justify-content: start;
        align-items: center !important;
        padding: 0;
    }

    .mainContent .rightContent,.mainContent .leftContent{
        max-width: 100% !important;
        width: 85% !important;
        margin: 0 !important;
        padding: 0;
    }

    .keyFeatureContainer{
        grid-template-columns: repeat(1,1fr) !important;
        gap: 0;

        margin: auto !important;
    }
    
    .candidatesCardsContainer{
        grid-template-columns: repeat(1,1fr) !important;
        gap: 0;
    }
}