:root{
    --primary: #775ada;
    --secondary: #e9a401;
    --secondary-hover: #cd9003;
    --primary-hover: #6845c6;

    --text-primary :#000000;
    --text-secondary : gray;


    --primary-bg:#f3f0ff;
    --secondary-bg:#e3e3e3;
    --primary-bg-shadow : #0000001a;


    --white:#ffffff;
}


